.example{
    resize: none;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border:1px dashed indigo;
    background-color:aliceblue;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    font-weight: bold;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 8px 8px 8px 8px;
  }
  
  input[type="submit"]:hover {
    background: plum;
  }