.container{
    position: relative;
    display: inline-block;
    text-align: center;
}

.top-text{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.centered-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}


.box{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
}

#two{
    position: absolute;
    top: 20px;
    left: 20px;
    background: blue;
}