body{
    background-color: #f9f9f9;
}

h1, h2 {
    margin: 10px 0px 0px;
    color: #228b22;
}

h2{
    font-size: 1.05em;
}

p{
    margin: 10px 0px;
    text-align: justify;
    color: hsla(235, 26%, 18%, 0.596);
}

figure{
    margin: 1px;
}

.split{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(218, 218, 218);
}

.container{
    max-width: 80%;
    margin: 20px auto;
    padding: 0px 10px 20px;
    border: 1px solid coral;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(228, 140, 99, 0.89);
}

img{
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    opacity: 1;
}

img:hover{
    opacity: 0.6;
}

figcaption{
    font-style: italic;
    color: darkblue;
    font-size: 1.1em;
    text-align: center;
    margin: 10px 0px;
}

.myCanvas{
    width: 1320px;
    height: 10px;
    border: 1px solid #000000;
    background-color: darkviolet;
}

